.table tbody tr:hover {
    background-color: #418AE0 !important;
    color: white !important;
    a { color: white !important; }
}
.table tbody tr a {
    color: #212529 !important;
    &:hover {
        color: white !important;
    }
}

@media (max-width:768px) {
    .flex-direction {
        flex-direction: column-reverse;
        &.ml-auto {
            margin-bottom: 1rem;
        }
    }
}